/* General Styles */
.catalogue-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    padding-top: 3%;
}

.catalogue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    padding-top: 0;
    border-radius: 8px;
}

/* Title Styles */
.catalogue-title {
    font-size: 3em;
    color: #000000;
    padding-top: 0;
}

/* Image Styles */
.catalogue-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.catalogue-main-image {
    max-width: 600px; /* Prevents it from being too large */
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 770px) {
    .catalogue-main-div {
        padding: 10px !important;
    }

    .catalogue-container {
        padding: 10px !important;
    }

    .catalogue-title {
        font-size: 2em !important;
    }

    .catalogue-main-image {
        max-width: 100%;
    }
}

/* Animations */
.catalogue-title.visible {
    animation-name: slideInFromLeft;
}

.catalogue-main-image.visible {
    animation-name: slideInFromRight;
}
